@import "../node_modules/@assetworks-llc/aw-component-lib/styles/styles.scss";

/* Global style overrides */

/* Style the aw-table empty state to match production */
aw-table .no-content {
  text-align: center;
  padding: 8px 0 24px;
  margin-top: 0;
  font-size: 14px;
  font-style: italic;
  background: var(--system-surfaces-surfaces-raised, #fff);
}
